@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Barlow Semi Condensed;
    color: #fff;
    background: radial-gradient(circle at 50% 0%, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    width: 700px;
    max-width: 100%;
}

header {
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    margin-top: 48px;
    margin-bottom: 64px;
}

h1 {
    font-size: 3rem;
    line-height: 0.8;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

h4 {
    color: hsl(229, 64%, 46%);
    margin: 0;
    text-transform: uppercase;
}

.score-container {
    background-color: #fff;
    padding: 20px 60px;
    text-align: center;
    border-radius: 5px;
}

.score-container p {
    color: hsl(229, 25%, 31%);
    font-size: 4rem;
    margin: 0;
    font-weight: 700;
}

.btn-rules {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-family: inherit;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 350px;
    margin: 0 auto;
    position: relative;
}


main::before {
    background-image: url('./images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 20%;
    left: 15%;
    height: 70%;
    width: 70%;
    z-index: -1;
}

.btn-circle {
    border: none;
    border-radius: 50%;
    box-shadow: inset 0 -5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 0 25px;
    height: 150px;
    width: 150px;
}

button {
    cursor: pointer;
}

.btn-circle:focus,
button {
    outline: none;
}

.btn-circle:active {
    transform: scale(0.9);
}

.btn-circle .wrapper {
    background-color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: inset 0 5px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-paper {
    background: linear-gradient(
        to bottom,
        hsl(230, 89%, 62%),
        hsl(230, 89%, 65%)
    );
}

.btn-scissors {
    background: linear-gradient(
        to bottom,
        hsl(39, 89%, 49%),
        hsl(40, 84%, 53%)
    );
}

.btn-rock {
    background: linear-gradient(
        to bottom,
        hsl(349, 71%, 52%),
        hsl(349, 70%, 56%)
    );
}

.btn {
    border: none;
    background-color: #fff;
    color: hsl(229, 25%, 31%);
    font-size: 20px;
    font-family: inherit;
    padding: 10px 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 8px;
}

.selection {
    display: none;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
}

.selection h2 {
    margin-bottom: 25px;
}

.selection .btn-circle {
    margin: 50px;
    transform: scale(1.4);
}

.between-circles {
    margin-top: 80px;
}

.big-text {
    font-size: 3rem;
    margin: 0 0 20px;
    line-height: 0.8;
    text-transform: uppercase;
}

.rules-modal {
    display: none;
    border-radius: 10px;
    background-color: #f0f0f0;
    width: 400px;
    height: 350px;
    margin: 0 auto;
    position: fixed;
    top: 210px;
    left: 480px;
}

.sub-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rules-modal h2 {
    color: hsl(229, 25%, 31%);
    letter-spacing: 0;
    margin: 20px;

    
}

.rules-modal button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 20px;
    
}

.img-rules {
    display: flex;
    align-items: center;
    justify-content: center;
}